/* Portrait */ 
 
@media screen and (max-width: 480px)  {
img { max-width: 100%; }
video{max-width:100%;}
iframe{max-width:100%;
 border:1px solid;
    border-radius:25px;}
p.photo img {max-width:100%;}
h1.background
{max-width:100%;}
p.one img{max-width:100%;}
p.mobilephoto img {max-width:100%;}
p.tow img {max-width:100%;}
video[poster]{max-width:100%;}
.svg
{max-width:100%;}
#content img{max-width:100%;}
#container{    max-width:100%;
height:auto;
}
#footer{max-width:100%;
height:auto;}
#content {
	max-width: 100%;
	margin-left:2px;
	overflow:hidden;
}
#top{    max-width:100%;
}
#navigation {  
    margin-top:20px;
    width: 96%;
     border:1px solid;
    border-radius:25px;

}
#navigation ul li {width:90%;}
#navigation ul { 
    width: 100%;  
    padding-right:10px;
}  
#navigation li {  
    width:100%;
    padding-right:10px;
}
fieldset.mobile{display:none;}

}

@media only screen and (max-width: 320px) and (orientation:landscape)  {
  

}

   
  @media  only screen and (-webkit-min-device-pixel-ratio : 1.5),
    only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
    }
  




