#navigation, #top{display:none;}
#content { width: 100%; margin: 0; float: none; border:none; }
#footer {display:none;}

body {
	font-size: 12pt;
	line-height: 13pt;
	font-family: Georgia, "Times New Roman", 
	Times, serif;
}
img {
max-width: 500px;
}
h1 {
font-size: 24pt;
}

h2 {
font-size: 14pt;
margin-top: 25px;
}
video{
    display:none;
}

iframe{
    display:none;
}
p.creat {display:none;}
#content img{max-width:100%;}
@media screen and (max-width: 480px) {
#content {
	width: 100%;
	float: none;
}
#ul {
	width: 100%;
	float: none;
}
}
img{
  max-width:98%;
  padding:1%; /* Padding som dubblerad och ihop med bredden ovan tillsammans blir 100%. */
  background-color:#fff; /* Färg på vår fejkade border. */
}