/* Layout */
h1{
    font-family: 'Lily Script One', cursive;
    }
.background1
{
    background-image:url('pics/background-full-HD.jpg');
    background-attachment:fixed;
}

.background2
{
    background-image:url('pics/HD-Wallpapers-Laptop.jpg');
    background-attachment:fixed;
}
.background3
{
    background-image:url('pics/background3.jpg');
    background-attachment:fixed;
}
.background4
{
    background-image:url('pics/background4.jpg');
    background-attachment:fixed;
}

#container
{
    max-width:960px;
    border: 0.5px solid blue;
    margin:0 auto;
     background-color:#757D77;

    
    }

.logo4
{
    background-image: url(pics/logo4.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 960px;
    height: 145px;
}
.logo3
{
    background-image: url(pics/logo3.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 960px;
    height: 98px
}
.logo5
{
    background-image: url(pics/logo5.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 960px;
    height: 194px
}
.logo6
{
    background-image: url(pics/logo6.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 960px;
    height: 62px
}



#top
{   
   background-color:#B7BDE8;
    border: 0.5px solid blue;    
    margin-bottom:1px;
    padding:5px;
    max-width:960px;
    
}
#content
{
    background-color:#EEFF9F;
    border:0.5px solid blue;
    margin-left:215px;
    padding:5px;
    margin-bottom: 1px;
    max-width:800px;

}


.active{color:yellow;}
.text:before {content: url(pics/text-icon2.png);}

.active{color:yellow;}
.video:before {content: url(pics/Movie_File.png);}

p.photo
{
background-repeat:no-repeat;
background-position:right; 
text-indent: 150px;
width: 220px;
height:30px;}


#navigation
{
    
    background-color:#757D77;
    border:1px solid #757D77;
    width:200px;
    float:left;
    padding:5px;
    margin:1px 1px 1px 1px;
    
    
    
}

#navigation .active a
{
    color:yellow;
}

a:link {color:#FEFFDE;}      /* unvisited link */
a:visited {color:black;}  /* visited link */
a:hover {color:#BFFF8D;}  /* mouse over link */
a:active {color:#F7DEFF;}  /* selected link */

ul{
    border: 1px solid white;
    border-bottom:none;
    width: 200px;
    margin:0;
    padding:0;
    
}
li {
    list-style-type: none;
    border-bottom: 1px solid white;
}

li a {
    display:block;
    padding: 10px;
    background-color:#81ADA7;
    color: #81ADA7;
}

li a:hover{
    color:#DB7BF8;
    background-color:#3B5E02;
}


#footer
{
    background-color:#CAE8CC;
    border:0.5px solid blue;
    padding:5px;
    max-width:960px;
}

.active{color:yellow;}
.creat:before {content: url(pics/youtube-128x128.png);}

h1.background
{ 
background-image:url(pics/web2.gif);
background-repeat:repeat-x;
background-position:right; 
text-indent: 700px;
width: 950px;
height:300px;

}
#content img{
    margin:20px;
    float:right;
}
video[poster]{
height:50%;
width:50%;
}
#line{
    border-bottom: 1px black solid;
    height:1px;        
    margin: 10px 0 15px 0;
}
.svg
{
background-repeat:no-repeat;
background-position:right; 
text-indent: 150px;
width: 220px;
height:10px;}


.active{color:yellow;}
.smile:before {content: url(pics/smile.png);}


.active{color:yellow;}
.css:before {content: url(pics/css_icon.png);}

.left{float:left;}
.right{float:right;}

.active{color:yellow;}
.album:before {content: url(pics/function-icons.png);}


.active{color:yellow;}
.uppgift3-3:before {content: url(pics/text-blog.jpg);}


