/* Layout */

h1{
    font-family: 'Lily Script One', cursive;
    }


#container
{
    max-width:960px;
    border: 0.5px solid blue;
    margin:0 auto;
     background-color:#F5FFD5;

    
    }

#top
{   
    background-color:#DCE8CA;
    border: 0.5px solid blue;    
    margin-bottom:1px;
    padding:5px;
    max-width:960px;
    
}

#content
{
    background-color:#EEFF9F;
    border:0.5px solid blue;
    margin-left:215px;
    padding:5px;
    margin-bottom: 1px;
    max-width:800px;
    
    
}


#navigation
{
    
    background-color:#F5FFD5;
    border:1px solid #F5FFD5;
    width:200px;
    float:left;
    padding:5px;
    margin:1px 1px 1px 1px;
    
    
    
}

#navigation .active a
{
    color:yellow;
}

a:link {color:#FEFFDE;}      /* unvisited link */
a:visited {color:black;}  /* visited link */
a:hover {color:#BFFF8D;}  /* mouse over link */
a:active {color:#F7DEFF;}  /* selected link */

ul{
    border: 1px solid white;
    border-bottom:none;
    width: 200px;
    margin:0;
    padding:0;
    
}
li {
    list-style-type: none;
    border-bottom: 1px solid white;
}

li a {
    display:block;
    padding: 10px;
    background-color:#81ADA7;
    color: #81ADA7;
}

li a:hover{
    color:#DB7BF8;
    background-color:#3B5E02;
}


#footer
{
    background-color:#CAE8CC;
    border:0.5px solid blue;
    padding:5px;
    max-width:960px;

}
.left{float:left;}
.right{float:right;}
.cnter{float:center;}
.active{color:yellow;}
.creat:before {content: url(pics/css-icon.png);}



h1.background
{ 
background-image:url(pics/web2.gif);
background-repeat:repeat-x;
background-position:right; 
text-indent: 600px;
width: 950px;
height:300px;

}
#content img{
    margin:20px;
    float:right;
}
