img{margin:0 0 20px 0;
height:260px;
width:260px;
border:solid white 20px;
box-shadow: 10px 10px 5px #888888;
margin-left:10px;}

.seven img {-webkit-transform: rotate( 18deg);
–moz-transform: rotate( 18deg);
-o-transform: rotate( 18deg);
-ms-transform: rotate( 18deg);}


.sex img {-webkit-transform:matrix(0.866,0.6,-0.8,0.866,0,0); 
-moz-transform:matrix(0.866,0.6,-0.8,0.866,0,0);
-o-transform:matrix(0.866,0.6,-0.8,0.866,0,0); 
-ms-transform:matrix(0.866,0.6,-0.8,0.866,0,0);}

.five img {-webkit-transform: rotate( -8deg);
–moz-transform: rotate( -8deg);
-o-transform: rotate( -8deg);
-ms-transform: rotate( -8deg);}

.for img {-webkit-transform:translateX(10px); 
-moz-transform:translateX(10px); 
-o-transform:translateX(10px); 
-ms-transform:translateX(10px);}

.three img {-webkit-transform:translate(100px,1px);
-moz-transform:translate(100px,1px);
-o-transform:translate(100px,1px); 
-ms-transform:translate(100px,1px);
-webkit-transform: rotate(-18deg); 
-moz-transform: rotate(-18deg); 
-o-transform: rotate(-18deg); 
-ms-transform: rotate(-18deg);}


.one img{-webkit-transform:skewY(18deg);
-moz-transform:skewY(18deg); 
-o-transform:skewY(18deg); 
-ms-transform:skewY(18deg); 
-webkit-transform: scale(1,1); 
-moz-transform: scale(1,1); 
-o-transform: scale(1,1); 
-ms-transform: scale(1,1);}

    a {
    text-decoration: none;
    display: block;
    width: 330px;
    height: 228px;
    float: left;
    margin-left: 10px;
    margin-left-value: 20px;
    margin-left-ltr-source: physical;
    margin-left-rtl-source: physical;
    opacity: .9;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
a:hover {
    opacity: 1;
    -webkit-transform: scale(1.2,1.2);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 200ms;
    -moz-transform: scale(1.2,1.2);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;
    z-index: 99;
}
    


body {
    font-family: 'Devonshire', cursive;
background-color: black;
}
p{color:blue;}
h2{color:red;}
p:after
{ 
content:"- Eller hur?";
background-color:yellow;
color:green;
font-weight:bold;
}
